# Versi image step-ca
STEP_CA_VERSION=latest

# Nama CA yang akan muncul di sertifikat
CA_NAME=Step CA Local

# DNS name tempat CA bisa diakses
CA_DNS=localhost

# Nama provisioner (akun untuk issuance sertifikat)
CA_PROVISIONER=admin

# Port di host machine
CA_PORT=9000
